<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c473752e7c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media-query.css">
    <title>Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <main class="container container-lg">
            <div class="row flex">
                <div class="col side-bar">
                    <header class="side-bar__header">
                        <div class="toolbar">
                            <img class="toolbar__img" src="./img/avatar_io.jpg" alt="">
                            <ul class="toolbar__menu">
                                <li><a href="#"><i class="fa-solid fa-rotate-right"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></i></li>
                            </ul>
                        </div>
                    </header>

                    <div class="side-bar__notification">
                        <div class="row flex">
                            <div class="col bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="col bell__description">
                                <strong>Ricevi notifiche di nuovi messaggi</strong>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>

                    <div class="side-bar__search-bar p-relative">
                        <input @keyup="searchContact" v-model="searchBarValue" type="search" placeholder="Cerca o inizia una nuova chat" name="search" id="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <ul class="side-bar__chat-list">
                        <li v-if="filteredContacts.length === 0" v-for="(contact,i) in contacts" @click="indexContact(contact,i)" :class="i === currentIndex ? 'active' : ''" class="chat-card">
                            <a class="toolbar" href="#">
                                <img class="toolbar__img" :src="contact.avatar" alt="">
                                <div class="toolbar__description">
                                    <h1>{{ contact.name }}</h1>
                                    <p>{{ contact.messages.at(-1).message}}</p>
                                </div>
                                <p class="chat-time">{{contact.messages.at(-1).date.slice(11,16)}}</p>
                            </a>
                        </li>
                        <li v-else v-for="(contact,i) in filteredContacts" @click="indexContact(contact,i)" :class="i === currentIndex ? 'active' : ''" class="chat-card">
                            <a class="toolbar" href="#">
                                <img class="toolbar__img" :src="contact.avatar" alt="">
                                <div class="toolbar__description">
                                    <h1>{{ contact.name }}</h1>
                                    <p>{{ contact.messages.at(-1).message}}</p>
                                </div>
                                <p class="chat-time">{{contact.messages.at(-1).date.slice(11,16)}}</p>
                            </a>
                        </li>
                    </ul>
                </div> <!--side-bar-->
                <div class="col main-bar flex flex-column">
                    <header class="main-bar__header">
                        <div class="toolbar">
                            <img class="toolbar__img" :src="currentContact.avatar" alt="">
                            <div class="toolbar__description">
                                <h1>{{ currentContact.name }}</h1>
                                <p>Ultimo accesso oggi alle 16:26</p>
                            </div>
                            <ul class="toolbar__menu flex align-center  gap-10">
                                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
                                <li><a href="#"></a><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </header>
                    <ul class="main-bar__chat-content flex flex-column">
                        <li v-for="(singleMessage,i) in currentContact.messages" class="flex message p-relative" 
                        :class="{'received': singleMessage.status === 'received', 
                                 'sent': singleMessage.status === 'sent',
                                 'align-self-end': singleMessage.status === 'sent',
                                 'align-self-start': singleMessage.status === 'received'
                                }"
                        >
                            {{singleMessage.message}}
                            <div class="ms-15 flex flex-column text-center gap-5">
                                <i @click="openDropDown(i)" class="fa-solid fa-angle-down"></i>
                                <span>{{singleMessage.date.slice(11,16)}}</span>
                                <ul class="message__dropdown d-none">
                                    <li><a href="#">Rispondi</a></li>
                                    <li><a href="#">Reagisci</a></li>
                                    <li><a href="#">Inoltra</a></li>
                                    <li><a href="#">Fissa</a></li>
                                    <li><a href="#">Importante</a></li>
                                    <li><a href="#">Segnala</a></li>
                                    <li><a href="#">Elimina</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form class="flex align-center">
                        <label for="text"><a href="#"><i class="fa-regular fa-face-smile"></i></a></label>
                        <input v-model.trim="newMessage" @keydown.enter="sendMessage(currentIndex)" id="text" name="text" type="text" placeholder="Scrivi un messaggio">
                        <label for="text"><a href="#"><i class="fa-solid fa-microphone"></i></a></label>
                    </form>
                </div> <!--main-bar-->
            </div>
        </main>

    </div>

    <script src="./js/app.js"></script>
</body>
</html>